.activity-card {
  max-height: 25rem; /* 400px -> REM para escalabilidad */
  overflow-y: auto;
}

.activity-icon-new {
  color: #4caf50;
}

.activity-icon-update {
  color: #ff9800;
}

.activity-icon-delete {
  color: #f44336;
}

.activity-icon-info {
  color: #2196f3;
}
